.card-img-top {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.card-body {

  height: 250px;
}

.row {
  gap: 20px;
  justify-content: center;
}

.card-body {
  display: flex;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}