.main-dark{
  background-color: #1a1a1a;
}

.main {
  min-height: 100vh;
    padding: 70px 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-bottom: 0px;
  border-radius: 4px;
  padding: 5px;


}


.card-body {

  height: 250px;
}

.row {
  margin: 0;
  gap: 20px;
  justify-content: center;
}

.card-body {
  display: flex;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}